extends layout

block content
    .container-fluid
        each infos in theinfo
            .row.m-5.containerinfo
                .col.text-center
                    div
                        | Current Destination
                    div
                        h5=infos.CurrentDestination
                .col-6.d-flex.justify-content-center.align-items-center.text-center
                    h5=infos.Traininfo
                .col.text-center
                    div
                        | Expected Arrival
                    div
                        h5= infos.ExpArrival
