extends layout

block content
    .container-fluid
        .row.m-5.containerinfo
            .col.text-center
                div
                    | Current Destination
                div
                    | Mallow
            .col-6.d-flex.justify-content-center.align-items-center.text-center
                    |  From Cork to Cobh
            .col.text-center
                div
                    | Expected Arrival
                div
                    | 23 : 26
        .row.m-5.containerinfo
            .col.text-center
                div
                    | Current Destination
                div
                    | Mallow
            .col-6.d-flex.justify-content-center.align-items-center.text-center
                |  From Cork to Cobh
            .col.text-center
                div
                    | Expected Arrival
                div
                    | 23 : 26
        .row.m-5.containerinfo
            .col.text-center
                div
                    | Current Destination
                div
                    | Mallow
            .col-6.d-flex.justify-content-center.align-items-center.text-center
                |  From Cork to Cobh
            .col.text-center
                div
                    | Expected Arrival
                div
                    | 23 : 26
